.bottom-nav > button:nth-child(1) {
  order: 1;
}

.bottom-nav .nav-create {
  position: static;
  z-index: auto;
  order: 2;
  width: auto;
  min-width: 0;
  color: var(--brand);
  transform: translateY(-21px);
}

.bottom-nav > button:nth-child(2) {
  order: 3;
}

.bottom-nav > button:nth-child(4) {
  order: 4;
}

.bottom-nav .nav-create:active {
  transform: translateY(-21px) scale(.96);
}
